<!DOCTYPE html> <!-- tells browser to read as this kind of html file  -->

<html>
    <head>
        <!-- LINKING -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" type=text/css>
        <script src="{{ url_for('static', filename='js/demo.js') }}" type=text/javascript></script>

        <!-- TITLE -->

    </head>
    <body>
        <!-- TOP -->
        <img class = "resize" src="{{ url_for('static', filename='pics/laser.png')}}">
        <div>&nbsp;</div>
        <h2>HELIOS</h2>

        <!-- The following portion allows for showing flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <!-- FILE UPLOAD -->
        
        <div class="caption"></div>
        <div class="caption">
        <form action="{{ url_for('uploader') }}" method="POST" enctype="multipart/form-data">
            <p> Select what action to be executed </p>
            <input type="file" name="file" /> 
            <input type="submit" value="Submit" />
            <div>
                <input type="radio" onclick="showTextArea()" id="train" name="uploadOpt" value="train">
                <label for="train"> Train </label>
                <input type="radio" onclick="hideTextArea()" id="recognize" name="uploadOpt" value="recognize">
                <label for="recognize"> Recognize </label>
                <input type="radio" onclick="hideTextArea()" id="recognize" name="uploadOpt" value="filter" checked>
                <label for="recognize"> Filtering </label>
                <div id="personNameDiv" hidden>
                    <label for="personName"> Speaker Name: </label>
                    <input type="text" id="personName" name="personName">
                </div>
            </div>
        </form>

        <!-- FILE MESSAGE -->
        {% if result %}
             {{ result }}
        {% endif %} 
         </div>
         

        <!-- PLAY BAR --> 
        <h3> Play Bar </h3>
        <p> The audio you uploaded will be played below here. You can select different filters to apply to it. 
        </p>
        <div class="comparison">
            <audio controls>
                <source src="{{ audio_link }}" type="audio/wav">
                <source src="{{ audio_link }}" type="audio/mpeg">
                Browser does not support this.
            </audio>

            <div> <!-- Filtering Algorithm Portion -->
                <p class="compare_label" style="display: inline-block"> Filtering Algorithm </p>

                <form class="algorithm" action="{{ url_for('filtering') }}" method="POST">
                    <p> Please select the filtering algorithm to be applied: </p>

                    <input type="radio" id="noFilter" name="filter" value="None">
                    <label for="noFilter"> None </label><br/>

                    <input type="radio" id="butterFilter" name="filter" value="Butter">
                    <label for="butterFilter"> Butterworth </label><br/>

                    <input type="radio" id="chebyshev1Filter" name="filter" value="Chebyshev I">
                    <label for="chebyshev1Filter"> Chebyshev I </label><br/>

                    <input type="radio" id="butterChebyshevFilter" name="filter" value="Butter-Chebyshev">
                    <label for="butterChebyshevFilter"> Butterworth - Chebyshev I </label><br/>

                    <input type="radio" id="chebyshevButterFilter" name="filter" value="Chebyshev-Butter">
                    <label for="chebyshevButterFilter"> Chebyshev I - Butterworth </label><br/>

                    <input type="radio" id="wienerFilter" name="filter" value="Wiener">
                    <label for="wienerFilter"> Wiener </label><br/>

                    <label for="numIter"> # of Iteration(s) </label></br>
                    <input type="number" id="numIter" value="1" min="1" max="10" name="numIter">

                    <input type="submit" name="submit" value="Submit"> </form>
                </form>
            </div>
            <div> <!-- Speaker Recognition -->
                <p class="compare_label" style="display: inline-block"> Speaker Recognition </p>
                <ul class="None">
                    <li> <input type="text" name="speakers here">  </li>
                </ul>
            </div>
        </div>
        <script>
            function hideTextArea(){
                var x = document.getElementById('personNameDiv')
                x.style.display = 'none'
            }
            
            function showTextArea(){
                document.getElementById('personNameDiv').style.display = 'block'
            }
        </script>
    </body>
</html>
