body {
    margin: 0 auto 0 auto;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 30px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
    background-color: #ffffff;
    max-width: 876px;
    font-size: 14px;
    line-height: 1.15em;
}

.comparison li {
    display: inline-block;
    border: 3px solid;
    border-radius: 6px;
    padding: 3px;
    margin: 0px 5px;
    font-weight: bold;
    cursor: default;
}

.comparison ul {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.comparison button {
margin: 0px 10px 0px 0px;
}

.comparison audio {
    width: 100%;
}

.algorithm li {
    border-color: #ff9900;
}

.algorithm li:hover {
    background-color: #ffdda3;
}

.algorithm .selected {
    background-color: #ffcc80;
}

.codec li {
    border-color: #4c7ba2;
}

.codec li:hover {
    background-color: #d7edff;
}

.codec .selected {
    background-color: #a5d6ff;
}

p.compare_label {
    width: 12em;
    font-weight: bold;   
}

img.resize{
    max-width:50%;
    max-height:50%;
}
